.css-srtztj {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
}

.css-1dhxv6h {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	width: 100%;
}

.css-pwckxr {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding-top: 2rem;
	background: var(--banyan-colors-gray-100);
	margin-left: 0px;
	width: 100%;
}

@media screen and (min-width: 65.5rem) {
	.css-pwckxr {
		margin-left: 0px;
		width: 100%;
	}
}

.css-1smmmxx {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex: 100%;
	-ms-flex: 100%;
	flex: 100%;
	height: 100%;
	overflow: auto;
	min-width: 100%;
}

@media screen and (min-width: 48em) {
	.css-1smmmxx {
		-webkit-flex: min-content;
		-ms-flex: min-content;
		flex: min-content;
		height: calc(100vh - 80px);
		min-width: 480px;
	}
}

.css-og8lvl {
	width: 100%;
	-webkit-padding-start: var(--banyan-space-6);
	padding-inline-start: var(--banyan-space-6);
	-webkit-padding-end: var(--banyan-space-6);
	padding-inline-end: var(--banyan-space-6);
}

@media screen and (min-width: 48em) {
	.css-og8lvl {
		-webkit-padding-start: var(--banyan-space-8);
		padding-inline-start: var(--banyan-space-8);
		-webkit-padding-end: var(--banyan-space-8);
		padding-inline-end: var(--banyan-space-8);
	}
}

.css-uqk96i {
	padding-bottom: var(--banyan-space-5);
}

.css-o2ke8n {
	font-family: var(--banyan-fonts-secondary);
	font-weight: 500;
	font-size: 16px;
	color: var(--banyan-colors-gray-900);
	line-height: 24px;
	padding-top: var(--banyan-space-2);
	padding-bottom: var(--banyan-space-2);
}

.css-6jfr73 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.css-6jfr73 > *:not(style) ~ *:not(style) {
	margin-top: 0px;
	-webkit-margin-end: 0px;
	margin-inline-end: 0px;
	margin-bottom: 0px;
	-webkit-margin-start: var(--banyan-space-2);
	margin-inline-start: var(--banyan-space-2);
}

.css-a8iw49 {
	width: 50%;
	max-width: 50%;
}

@media screen and (min-width: 48em) {
	.css-a8iw49 {
		width: 225px;
		max-width: 225px;
	}
}

.css-1vicip6 {
	position: relative;
}

.css-1vicip6 input {
	font-size: 16px;
	color: var(--banyan-colors-gray-800);
}

.css-1vicip6 button {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.css-1kxonj9 {
	width: 100%;
	position: relative;
}

.css-4302v8 {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}

.css-fyjt8s {
	width: 100%;
	min-width: 0px;
	outline: 2px solid transparent;
	outline-offset: 2px;
	position: relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	transition-property: var(--banyan-transition-property-common);
	transition-duration: var(--banyan-transition-duration-normal);
	font-family: var(--banyan-fonts-secondary);
	font-size: var(--banyan-fontSizes-lg);
	-webkit-padding-start: var(--banyan-space-4);
	padding-inline-start: var(--banyan-space-4);
	-webkit-padding-end: var(--banyan-space-14);
	padding-inline-end: var(--banyan-space-14);
	height: var(--banyan-sizes-14);
	border-radius: 8px;
	border: 1px solid;
	border-color: #C0C9C9;
	background: var(--banyan-colors-white);
	border-top-left-radius: var(--banyan-radii-md);
	border-top-right-radius: var(--banyan-radii-md);
	background-color: var(--banyan-colors-gray-100);
	padding-top: var(--banyan-space-3);
	padding-bottom: var(--banyan-space-3);
	color: var(--banyan-colors-gray-700);
}

.css-fyjt8s:hover, .css-fyjt8s[data-hover] {
	border-color: #C0C9C9;
	border: 1px solid;
}

.css-fyjt8s[aria-readonly=true], .css-fyjt8s[readonly], .css-fyjt8s[data-readonly] {
	box-shadow: none !important;
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}

.css-fyjt8s[disabled], .css-fyjt8s[aria-disabled=true], .css-fyjt8s[data-disabled] {
	opacity: 1;
	cursor: not-allowed;
	color: #303B36;
	background-color: #EFF2F1;
	border-color: #6D7E7B;
}

.css-fyjt8s[aria-invalid=true], .css-fyjt8s[data-invalid] {
	border-color: #FA635D;
	box-shadow: var(--banyan-shadows-none);
}

.css-fyjt8s[aria-invalid=true]:hover, .css-fyjt8s[data-invalid]:hover, .css-fyjt8s[aria-invalid=true][data-hover], .css-fyjt8s[data-invalid][data-hover] {
	border-color: #FA635D;
	box-shadow: 0 0 0 2px #FADCDB;
}

.css-fyjt8s:focus, .css-fyjt8s[data-focus] {
	z-index: 1;
	border-color: #C0C9C9;
	box-shadow: 0 0 0 2px #EFF2F1;
	border: 1px solid;
}

.css-fyjt8s::-webkit-input-placeholder {
	color: var(--banyan-colors-black);
}

.css-fyjt8s::-moz-placeholder {
	color: var(--banyan-colors-black);
}

.css-fyjt8s:-ms-input-placeholder {
	color: var(--banyan-colors-black);
}

.css-fyjt8s::placeholder {
	color: var(--banyan-colors-black);
}

.css-1s1vewb {
	right: 0;
	width: var(--banyan-sizes-14);
	height: var(--banyan-sizes-14);
	font-size: var(--banyan-fontSizes-lg);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	position: absolute;
	top: 0px;
	z-index: 2;
}

.css-1qj1hk8 {
	width: 1em;
	height: 1em;
	display: inline-block;
	line-height: 1em;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	color: currentColor;
	-webkit-transition: 150ms -webkit-transform ease-in-out;
	transition: 150ms transform ease-in-out;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

.css-1pmxynf {
	position: relative;
	width: 100%;
	z-index: 99;
}

.css-s8s88y {
	width: 100%;
	min-width: 0px;
	outline: 2px solid transparent;
	outline-offset: 2px;
	position: relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	transition-property: var(--banyan-transition-property-common);
	transition-duration: var(--banyan-transition-duration-normal);
	font-family: var(--banyan-fonts-secondary);
	font-size: var(--banyan-fontSizes-lg);
	-webkit-padding-start: var(--banyan-space-4);
	padding-inline-start: var(--banyan-space-4);
	-webkit-padding-end: var(--banyan-space-14);
	padding-inline-end: var(--banyan-space-14);
	height: var(--banyan-sizes-14);
	border-radius: 8px;
	border: 1px solid;
	border-color: var(--banyan-colors-black);
	background: var(--banyan-colors-white);
	border-top-left-radius: var(--banyan-radii-md);
	border-top-right-radius: var(--banyan-radii-md);
	background-color: var(--banyan-colors-gray-100);
	padding-top: var(--banyan-space-3);
	padding-bottom: var(--banyan-space-3);
	color: var(--banyan-colors-gray-700);
}

.css-s8s88y:hover, .css-s8s88y[data-hover] {
	border-color: #C0C9C9;
	border: 1px solid;
}

.css-s8s88y[aria-readonly=true], .css-s8s88y[readonly], .css-s8s88y[data-readonly] {
	box-shadow: none !important;
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}

.css-s8s88y[disabled], .css-s8s88y[aria-disabled=true], .css-s8s88y[data-disabled] {
	opacity: 1;
	cursor: not-allowed;
	color: #303B36;
	background-color: #EFF2F1;
	border-color: #6D7E7B;
}

.css-s8s88y[aria-invalid=true], .css-s8s88y[data-invalid] {
	border-color: #FA635D;
	box-shadow: var(--banyan-shadows-none);
}

.css-s8s88y[aria-invalid=true]:hover, .css-s8s88y[data-invalid]:hover, .css-s8s88y[aria-invalid=true][data-hover], .css-s8s88y[data-invalid][data-hover] {
	border-color: #FA635D;
	box-shadow: 0 0 0 2px #FADCDB;
}

.css-s8s88y:focus, .css-s8s88y[data-focus] {
	z-index: 1;
	border-color: #C0C9C9;
	box-shadow: 0 0 0 2px #EFF2F1;
	border: 1px solid;
}

.css-s8s88y::-webkit-input-placeholder {
	color: var(--banyan-colors-black);
}

.css-s8s88y::-moz-placeholder {
	color: var(--banyan-colors-black);
}

.css-s8s88y:-ms-input-placeholder {
	color: var(--banyan-colors-black);
}

.css-s8s88y::placeholder {
	color: var(--banyan-colors-black);
}

.css-iwkjvg {
	display: flex;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	width: 100%;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow: auto;
}

.css-u7nvs1 {
	opacity: 0.7;
	border-radius: var(--banyan-radii-md);
	border-color: #EFF2F1;
	background: #E0E7E7;
	-webkit-animation: 0.8s linear infinite alternate animation-1gpxpf4;
	animation: 0.8s linear infinite alternate animation-1gpxpf4;
	box-shadow: var(--banyan-shadows-none);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	cursor: default;
	color: var(--banyan-colors-transparent);
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-top: var(--banyan-space-4);
	margin-bottom: var(--banyan-space-4);
}

.css-u7nvs1::before, .css-u7nvs1::after, .css-u7nvs1 * {
	visibility: hidden;
}

@-webkit-keyframes animation-1gpxpf4 {
	from {
		border-color: #EFF2F1;
		background: #EFF2F1;
	}

	to {
		border-color: #E0E7E7;
		background: #E0E7E7;
	}
}

@keyframes animation-1gpxpf4 {
	from {
		border-color: #EFF2F1;
		background: #EFF2F1;
	}

	to {
		border-color: #E0E7E7;
		background: #E0E7E7;
	}
}

.css-1vu3ud2 {
	border-radius: var(--banyan-radii-md);
	background-color: var(--banyan-colors-white);
	box-shadow: var(--banyan-shadows-md);
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 0px;
	overflow: hidden;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	cursor: pointer;
	width: 100%;
	margin-bottom: 0px;
}

.css-1vu3ud2:hover, .css-1vu3ud2[data-hover] {
	opacity: 0.8;
}

@media screen and (min-width: 48em) {
	.css-1vu3ud2 {
		margin-bottom: var(--banyan-space-4);
	}
}

.css-bdeq5i {
	object-fit: cover;
	opacity: 0;
	-webkit-transition: opacity 150ms linear;
	transition: opacity 150ms linear;
}

.css-1copac7 {
	display: none;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex: 50%;
	-ms-flex: 50%;
	flex: 50%;
	height: calc(100vh - 80px);
	overflow: hidden;
	-webkit-transition: opacity 350ms linear;
	transition: opacity 350ms linear;
	opacity: 0;
}

@media screen and (min-width: 48em) {
	.css-1copac7 {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}

.css-x5gdjb {
	border-radius: var(--banyan-radii-md);
	background-color: var(--banyan-colors-white);
	box-shadow: var(--banyan-shadows-md);
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 0px;
	overflow: hidden;
	transition: all 0.5s ease 0s;
	cursor: pointer;
	width: 100%;
	margin-bottom: var(--banyan-space-4);
}