:host,:root,[data-theme] {
    --chakra-ring-inset: var(--chakra-empty,/*!*/ /*!*/);
    --chakra-ring-offset-width: 0px;
    --chakra-ring-offset-color: #fff;
    --chakra-ring-color: rgba(66, 153, 225, 0.6);
    --chakra-ring-offset-shadow: 0 0 #0000;
    --chakra-ring-shadow: 0 0 #0000;
    --chakra-space-x-reverse: 0;
    --chakra-space-y-reverse: 0;
    --banyan-colors-transparent: transparent;
    --banyan-colors-current: currentColor;
    --banyan-colors-black: #000000;
    --banyan-colors-white: #FFFFFF;
    --banyan-colors-whiteAlpha-50: rgba(255, 255, 255, 0.04);
    --banyan-colors-whiteAlpha-100: rgba(255, 255, 255, 0.06);
    --banyan-colors-whiteAlpha-200: rgba(255, 255, 255, 0.08);
    --banyan-colors-whiteAlpha-300: rgba(255, 255, 255, 0.16);
    --banyan-colors-whiteAlpha-400: rgba(255, 255, 255, 0.24);
    --banyan-colors-whiteAlpha-500: rgba(255, 255, 255, 0.36);
    --banyan-colors-whiteAlpha-600: rgba(255, 255, 255, 0.48);
    --banyan-colors-whiteAlpha-700: rgba(255, 255, 255, 0.64);
    --banyan-colors-whiteAlpha-800: rgba(255, 255, 255, 0.80);
    --banyan-colors-whiteAlpha-900: rgba(255, 255, 255, 0.92);
    --banyan-colors-blackAlpha-50: rgba(0, 0, 0, 0.04);
    --banyan-colors-blackAlpha-100: rgba(0, 0, 0, 0.06);
    --banyan-colors-blackAlpha-200: rgba(0, 0, 0, 0.08);
    --banyan-colors-blackAlpha-300: rgba(0, 0, 0, 0.16);
    --banyan-colors-blackAlpha-400: rgba(0, 0, 0, 0.24);
    --banyan-colors-blackAlpha-500: rgba(0, 0, 0, 0.36);
    --banyan-colors-blackAlpha-600: rgba(0, 0, 0, 0.48);
    --banyan-colors-blackAlpha-700: rgba(0, 0, 0, 0.64);
    --banyan-colors-blackAlpha-800: rgba(0, 0, 0, 0.80);
    --banyan-colors-blackAlpha-900: rgba(0, 0, 0, 0.92);
    --banyan-colors-gray-50: #F7FAFC;
    --banyan-colors-gray-100: #f8fbff;
    --banyan-colors-gray-200: #E2E8F0;
    --banyan-colors-gray-300: #EFF2F1;
    --banyan-colors-gray-400: #E0E7E7;
    --banyan-colors-gray-500: #C0C9C9;
    --banyan-colors-gray-600: #4A5568;
    --banyan-colors-gray-700: #6D7E7B;
    --banyan-colors-gray-800: #303B36;
    --banyan-colors-gray-900: #303B36;
    --banyan-colors-red-50: #FFF5F5;
    --banyan-colors-red-100: #FED7D7;
    --banyan-colors-red-200: #FEB2B2;
    --banyan-colors-red-300: #FC8181;
    --banyan-colors-red-400: #F56565;
    --banyan-colors-red-500: #E53E3E;
    --banyan-colors-red-600: #C53030;
    --banyan-colors-red-700: #9B2C2C;
    --banyan-colors-red-800: #822727;
    --banyan-colors-red-900: #63171B;
    --banyan-colors-orange-50: #FFFAF0;
    --banyan-colors-orange-100: #FEEBC8;
    --banyan-colors-orange-200: #FBD38D;
    --banyan-colors-orange-300: #F6AD55;
    --banyan-colors-orange-400: #ED8936;
    --banyan-colors-orange-500: #FF7324;
    --banyan-colors-orange-600: #C05621;
    --banyan-colors-orange-700: #DA8447;
    --banyan-colors-orange-800: #7B341E;
    --banyan-colors-orange-900: #652B19;
    --banyan-colors-yellow-50: #FFFFF0;
    --banyan-colors-yellow-100: #FEFCBF;
    --banyan-colors-yellow-200: #FAF089;
    --banyan-colors-yellow-300: #F6E05E;
    --banyan-colors-yellow-400: #ECC94B;
    --banyan-colors-yellow-500: #F9E63F;
    --banyan-colors-yellow-600: #B7791F;
    --banyan-colors-yellow-700: #D5CB67;
    --banyan-colors-yellow-800: #744210;
    --banyan-colors-yellow-900: #5F370E;
    --banyan-colors-green-50: #DBF2DF;
    --banyan-colors-green-100: #D9E8E5;
    --banyan-colors-green-200: #9AE6B4;
    --banyan-colors-green-300: #A5E4AE;
    --banyan-colors-green-400: #48BB78;
    --banyan-colors-green-500: #81F18E;
    --banyan-colors-green-600: #2F855A;
    --banyan-colors-green-700: #0E2517;
    --banyan-colors-green-800: #22543D;
    --banyan-colors-green-900: #0E5832;
    --banyan-colors-teal-50: #B2F6EF;
    --banyan-colors-teal-100: #91B4B0;
    --banyan-colors-teal-200: #81E6D9;
    --banyan-colors-teal-300: #51D7C8;
    --banyan-colors-teal-400: #38B2AC;
    --banyan-colors-teal-500: #84E1FF;
    --banyan-colors-teal-600: #2C7A7B;
    --banyan-colors-teal-700: #0A8F98;
    --banyan-colors-teal-800: #234E52;
    --banyan-colors-teal-900: #143D3C;
    --banyan-colors-blue-50: #E6EDF9;
    --banyan-colors-blue-100: #708CA4;
    --banyan-colors-blue-200: #ABF1FA;
    --banyan-colors-blue-300: #82E0ED;
    --banyan-colors-blue-400: #4299e1;
    --banyan-colors-blue-500: #84E1FF;
    --banyan-colors-blue-600: #2b6cb0;
    --banyan-colors-blue-700: #177D8A;
    --banyan-colors-blue-800: #2a4365;
    --banyan-colors-blue-900: #165F69;
    --banyan-colors-cyan-50: #EDFDFD;
    --banyan-colors-cyan-100: #C4F1F9;
    --banyan-colors-cyan-200: #9DECF9;
    --banyan-colors-cyan-300: #76E4F7;
    --banyan-colors-cyan-400: #0BC5EA;
    --banyan-colors-cyan-500: #00B5D8;
    --banyan-colors-cyan-600: #00A3C4;
    --banyan-colors-cyan-700: #0987A0;
    --banyan-colors-cyan-800: #086F83;
    --banyan-colors-cyan-900: #065666;
    --banyan-colors-purple-50: #FAF5FF;
    --banyan-colors-purple-100: #E9D8FD;
    --banyan-colors-purple-200: #D6BCFA;
    --banyan-colors-purple-300: #B794F4;
    --banyan-colors-purple-400: #9F7AEA;
    --banyan-colors-purple-500: #805AD5;
    --banyan-colors-purple-600: #6B46C1;
    --banyan-colors-purple-700: #553C9A;
    --banyan-colors-purple-800: #44337A;
    --banyan-colors-purple-900: #322659;
    --banyan-colors-pink-50: #FFF5F7;
    --banyan-colors-pink-100: #FED7E2;
    --banyan-colors-pink-200: #FBB6CE;
    --banyan-colors-pink-300: #F687B3;
    --banyan-colors-pink-400: #ED64A6;
    --banyan-colors-pink-500: #D53F8C;
    --banyan-colors-pink-600: #B83280;
    --banyan-colors-pink-700: #97266D;
    --banyan-colors-pink-800: #702459;
    --banyan-colors-pink-900: #521B41;
    --banyan-colors-linkedin-50: #E8F4F9;
    --banyan-colors-linkedin-100: #CFEDFB;
    --banyan-colors-linkedin-200: #9BDAF3;
    --banyan-colors-linkedin-300: #68C7EC;
    --banyan-colors-linkedin-400: #34B3E4;
    --banyan-colors-linkedin-500: #00A0DC;
    --banyan-colors-linkedin-600: #008CC9;
    --banyan-colors-linkedin-700: #0077B5;
    --banyan-colors-linkedin-800: #005E93;
    --banyan-colors-linkedin-900: #004471;
    --banyan-colors-facebook-50: #E8F4F9;
    --banyan-colors-facebook-100: #D9DEE9;
    --banyan-colors-facebook-200: #B7C2DA;
    --banyan-colors-facebook-300: #6482C0;
    --banyan-colors-facebook-400: #4267B2;
    --banyan-colors-facebook-500: #385898;
    --banyan-colors-facebook-600: #314E89;
    --banyan-colors-facebook-700: #29487D;
    --banyan-colors-facebook-800: #223B67;
    --banyan-colors-facebook-900: #1E355B;
    --banyan-colors-messenger-50: #D0E6FF;
    --banyan-colors-messenger-100: #B9DAFF;
    --banyan-colors-messenger-200: #A2CDFF;
    --banyan-colors-messenger-300: #7AB8FF;
    --banyan-colors-messenger-400: #2E90FF;
    --banyan-colors-messenger-500: #0078FF;
    --banyan-colors-messenger-600: #0063D1;
    --banyan-colors-messenger-700: #0052AC;
    --banyan-colors-messenger-800: #003C7E;
    --banyan-colors-messenger-900: #002C5C;
    --banyan-colors-whatsapp-50: #dffeec;
    --banyan-colors-whatsapp-100: #b9f5d0;
    --banyan-colors-whatsapp-200: #90edb3;
    --banyan-colors-whatsapp-300: #65e495;
    --banyan-colors-whatsapp-400: #3cdd78;
    --banyan-colors-whatsapp-500: #22c35e;
    --banyan-colors-whatsapp-600: #179848;
    --banyan-colors-whatsapp-700: #0c6c33;
    --banyan-colors-whatsapp-800: #01421c;
    --banyan-colors-whatsapp-900: #001803;
    --banyan-colors-twitter-50: #E5F4FD;
    --banyan-colors-twitter-100: #C8E9FB;
    --banyan-colors-twitter-200: #A8DCFA;
    --banyan-colors-twitter-300: #83CDF7;
    --banyan-colors-twitter-400: #57BBF5;
    --banyan-colors-twitter-500: #1DA1F2;
    --banyan-colors-twitter-600: #1A94DA;
    --banyan-colors-twitter-700: #1681BF;
    --banyan-colors-twitter-800: #136B9E;
    --banyan-colors-twitter-900: #0D4D71;
    --banyan-colors-telegram-50: #E3F2F9;
    --banyan-colors-telegram-100: #C5E4F3;
    --banyan-colors-telegram-200: #A2D4EC;
    --banyan-colors-telegram-300: #7AC1E4;
    --banyan-colors-telegram-400: #47A9DA;
    --banyan-colors-telegram-500: #0088CC;
    --banyan-colors-telegram-600: #007AB8;
    --banyan-colors-telegram-700: #006BA1;
    --banyan-colors-telegram-800: #005885;
    --banyan-colors-telegram-900: #003F5E;
    --banyan-colors-coral-100: #FADCDB;
    --banyan-colors-coral-500: #FA635D;
    --banyan-colors-coral-700: #9E0C0C;
    --banyan-borders-none: 0;
    --banyan-borders-1px: 1px solid;
    --banyan-borders-2px: 2px solid;
    --banyan-borders-4px: 4px solid;
    --banyan-borders-8px: 8px solid;
    --banyan-fonts-heading: Chromatic,sans-serif;
    --banyan-fonts-body: Matter,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
    --banyan-fonts-mono: "Matter Mono",monospace;
    --banyan-fonts-primary: Chromatic,sans-serif!important;
    --banyan-fonts-secondary: Matter,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
    --banyan-fontSizes-xs: 0.75rem;
    --banyan-fontSizes-sm: 0.875rem;
    --banyan-fontSizes-md: 1rem;
    --banyan-fontSizes-lg: 1.125rem;
    --banyan-fontSizes-xl: 1.25rem;
    --banyan-fontSizes-2xl: 1.5rem;
    --banyan-fontSizes-3xl: 1.875rem;
    --banyan-fontSizes-4xl: 2.25rem;
    --banyan-fontSizes-5xl: 3rem;
    --banyan-fontSizes-6xl: 3.75rem;
    --banyan-fontSizes-7xl: 4.5rem;
    --banyan-fontSizes-8xl: 6rem;
    --banyan-fontSizes-9xl: 8rem;
    --banyan-fontSizes-h1: 4.5rem;
    --banyan-fontSizes-h2: 4rem;
    --banyan-fontSizes-h3: 3.25rem;
    --banyan-fontSizes-h4: 2.75rem;
    --banyan-fontSizes-h5: 2.25rem;
    --banyan-fontSizes-h6: 2rem;
    --banyan-fontSizes-subtitle1: 1.5rem;
    --banyan-fontSizes-subtitle2: 1.25rem;
    --banyan-fontSizes-body1: 1rem;
    --banyan-fontSizes-body2: 0.875rem;
    --banyan-fontSizes-button1: 1.125rem;
    --banyan-fontSizes-button2: 0.875rem;
    --banyan-fontSizes-caption: 0.75rem;
    --banyan-fontSizes-overline1: 1.125rem;
    --banyan-fontSizes-overline2: 0.75rem;
    --banyan-fontWeights-hairline: 100;
    --banyan-fontWeights-thin: 200;
    --banyan-fontWeights-light: 300;
    --banyan-fontWeights-normal: 400;
    --banyan-fontWeights-medium: 500;
    --banyan-fontWeights-semibold: 600;
    --banyan-fontWeights-bold: 700;
    --banyan-fontWeights-extrabold: 800;
    --banyan-fontWeights-black: 900;
    --banyan-fontWeights-heavy: 700;
    --banyan-fontWeights-regular: 400;
    --banyan-letterSpacings-tighter: -0.05em;
    --banyan-letterSpacings-tight: -0.025em;
    --banyan-letterSpacings-normal: 0;
    --banyan-letterSpacings-wide: 0.025em;
    --banyan-letterSpacings-wider: 0.05em;
    --banyan-letterSpacings-widest: 0.1em;
    --banyan-lineHeights-3: .75rem;
    --banyan-lineHeights-4: 1rem;
    --banyan-lineHeights-5: 1.25rem;
    --banyan-lineHeights-6: 1.5rem;
    --banyan-lineHeights-7: 1.75rem;
    --banyan-lineHeights-8: 2rem;
    --banyan-lineHeights-9: 2.25rem;
    --banyan-lineHeights-10: 2.5rem;
    --banyan-lineHeights-normal: normal;
    --banyan-lineHeights-none: 1;
    --banyan-lineHeights-shorter: 1.25;
    --banyan-lineHeights-short: 1.375;
    --banyan-lineHeights-base: 1.5;
    --banyan-lineHeights-tall: 1.625;
    --banyan-lineHeights-taller: 2;
    --banyan-lineHeights-body: 1.5;
    --banyan-lineHeights-heading: 1.25;
    --banyan-radii-none: 0;
    --banyan-radii-sm: 0.125rem;
    --banyan-radii-base: 0.25rem;
    --banyan-radii-md: 0.375rem;
    --banyan-radii-lg: 0.5rem;
    --banyan-radii-xl: 0.75rem;
    --banyan-radii-2xl: 1rem;
    --banyan-radii-3xl: 1.5rem;
    --banyan-radii-full: 9999px;
    --banyan-space-1: 0.25rem;
    --banyan-space-2: 0.5rem;
    --banyan-space-3: 0.75rem;
    --banyan-space-4: 1rem;
    --banyan-space-5: 1.25rem;
    --banyan-space-6: 1.5rem;
    --banyan-space-7: 1.75rem;
    --banyan-space-8: 2rem;
    --banyan-space-9: 2.25rem;
    --banyan-space-10: 2.5rem;
    --banyan-space-12: 3rem;
    --banyan-space-14: 3.5rem;
    --banyan-space-16: 4rem;
    --banyan-space-20: 5rem;
    --banyan-space-24: 6rem;
    --banyan-space-28: 7rem;
    --banyan-space-32: 8rem;
    --banyan-space-36: 9rem;
    --banyan-space-40: 10rem;
    --banyan-space-44: 11rem;
    --banyan-space-48: 12rem;
    --banyan-space-52: 13rem;
    --banyan-space-56: 14rem;
    --banyan-space-60: 15rem;
    --banyan-space-64: 16rem;
    --banyan-space-72: 18rem;
    --banyan-space-80: 20rem;
    --banyan-space-96: 24rem;
    --banyan-space-px: 1px;
    --banyan-space-0-5: 0.125rem;
    --banyan-space-1-5: 0.375rem;
    --banyan-space-2-5: 0.625rem;
    --banyan-space-3-5: 0.875rem;
    --banyan-shadows-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
    --banyan-shadows-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --banyan-shadows-base: 0 1px 3px 0 rgba(0, 0, 0, 0.1),0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --banyan-shadows-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --banyan-shadows-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --banyan-shadows-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),0 10px 10px -5px rgba(0, 0, 0, 0.04);
    --banyan-shadows-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    --banyan-shadows-outline: 0 0 0 4px #f8fbff;
    --banyan-shadows-inner: inset 0 4px rgba(0,0,0,0.06);
    --banyan-shadows-none: none;
    --banyan-shadows-dark-lg: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,rgba(0, 0, 0, 0.2) 0px 5px 10px,rgba(0, 0, 0, 0.4) 0px 15px 40px;
    --banyan-shadows-menu: 0px 1.2px 3.6px rgba(0, 0, 0, 0.1),0px 6.4px 14.4px rgba(0, 0, 0, 0.13);
    --banyan-shadows-menuItem: 0px 6px 12px -6px rgba(24, 39, 75, 0.12),0px 8px 24px -4px rgba(24, 39, 75, 0.08);
    --banyan-sizes-1: 0.25rem;
    --banyan-sizes-2: 0.5rem;
    --banyan-sizes-3: 0.75rem;
    --banyan-sizes-4: 1rem;
    --banyan-sizes-5: 1.25rem;
    --banyan-sizes-6: 1.5rem;
    --banyan-sizes-7: 1.75rem;
    --banyan-sizes-8: 2rem;
    --banyan-sizes-9: 2.25rem;
    --banyan-sizes-10: 2.5rem;
    --banyan-sizes-12: 3rem;
    --banyan-sizes-14: 3.5rem;
    --banyan-sizes-16: 4rem;
    --banyan-sizes-20: 5rem;
    --banyan-sizes-24: 6rem;
    --banyan-sizes-28: 7rem;
    --banyan-sizes-32: 8rem;
    --banyan-sizes-36: 9rem;
    --banyan-sizes-40: 10rem;
    --banyan-sizes-44: 11rem;
    --banyan-sizes-48: 12rem;
    --banyan-sizes-52: 13rem;
    --banyan-sizes-56: 14rem;
    --banyan-sizes-60: 15rem;
    --banyan-sizes-64: 16rem;
    --banyan-sizes-72: 18rem;
    --banyan-sizes-80: 20rem;
    --banyan-sizes-96: 24rem;
    --banyan-sizes-px: 1px;
    --banyan-sizes-0-5: 0.125rem;
    --banyan-sizes-1-5: 0.375rem;
    --banyan-sizes-2-5: 0.625rem;
    --banyan-sizes-3-5: 0.875rem;
    --banyan-sizes-max: max-content;
    --banyan-sizes-min: min-content;
    --banyan-sizes-full: 100%;
    --banyan-sizes-3xs: 14rem;
    --banyan-sizes-2xs: 16rem;
    --banyan-sizes-xs: 20rem;
    --banyan-sizes-sm: 24rem;
    --banyan-sizes-md: 28rem;
    --banyan-sizes-lg: 32rem;
    --banyan-sizes-xl: 36rem;
    --banyan-sizes-2xl: 42rem;
    --banyan-sizes-3xl: 48rem;
    --banyan-sizes-4xl: 56rem;
    --banyan-sizes-5xl: 64rem;
    --banyan-sizes-6xl: 72rem;
    --banyan-sizes-7xl: 80rem;
    --banyan-sizes-8xl: 90rem;
    --banyan-sizes-container-sm: 640px;
    --banyan-sizes-container-md: 768px;
    --banyan-sizes-container-lg: 1024px;
    --banyan-sizes-container-xl: 1280px;
    --banyan-zIndices-hide: -1;
    --banyan-zIndices-auto: auto;
    --banyan-zIndices-base: 0;
    --banyan-zIndices-docked: 10;
    --banyan-zIndices-dropdown: 1000;
    --banyan-zIndices-sticky: 1100;
    --banyan-zIndices-banner: 1200;
    --banyan-zIndices-overlay: 1300;
    --banyan-zIndices-modal: 1400;
    --banyan-zIndices-popover: 1500;
    --banyan-zIndices-skipLink: 1600;
    --banyan-zIndices-toast: 1700;
    --banyan-zIndices-tooltip: 1800;
    --banyan-transition-property-common: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    --banyan-transition-property-colors: background-color,border-color,color,fill,stroke;
    --banyan-transition-property-dimensions: width,height;
    --banyan-transition-property-position: left,right,top,bottom;
    --banyan-transition-property-background: background-color,background-image,background-position;
    --banyan-transition-easing-ease-in: cubic-bezier(0.4, 0, 1, 1);
    --banyan-transition-easing-ease-out: cubic-bezier(0, 0, 0.2, 1);
    --banyan-transition-easing-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
    --banyan-transition-duration-ultra-fast: 50ms;
    --banyan-transition-duration-faster: 100ms;
    --banyan-transition-duration-fast: 150ms;
    --banyan-transition-duration-normal: 200ms;
    --banyan-transition-duration-slow: 300ms;
    --banyan-transition-duration-slower: 400ms;
    --banyan-transition-duration-ultra-slow: 500ms;
    --banyan-blur-none: 0;
    --banyan-blur-sm: 4px;
    --banyan-blur-base: 8px;
    --banyan-blur-md: 12px;
    --banyan-blur-lg: 16px;
    --banyan-blur-xl: 24px;
    --banyan-blur-2xl: 40px;
    --banyan-blur-3xl: 64px;
}

body {
    font-family: var(--banyan-fonts-body);
    color: var(--banyan-colors-gray-800);
    background: var(--banyan-colors-white);
    transition-property: background-color;
    transition-duration: var(--banyan-transition-duration-normal);
    line-height: var(--banyan-lineHeights-base);
}

*::-webkit-input-placeholder {
    color: var(--banyan-colors-gray-400);
}

*::-moz-placeholder {
    color: var(--banyan-colors-gray-400);
}

*:-ms-input-placeholder {
    color: var(--banyan-colors-gray-400);
}

*::placeholder {
    color: var(--banyan-colors-gray-400);
}

*,*::before,::after {
    border-color: var(--banyan-colors-gray-200);
    word-wrap: break-word;
}

html,body,#root {
    min-height: 100%;
}

@font-face {
    font-family: "Chromatic";
    font-weight: 700;
    src: url("https://storage.googleapis.com/marketplace-app-assets/fonts/Chromatic/chromatic-condensed-bold-pro.woff2") format("woff2");
}

@font-face {
    font-family: "Chromatic";
    font-weight: 500;
    src: url("https://storage.googleapis.com/marketplace-app-assets/fonts/Chromatic/chromatic-condensed-medium-pro.woff2") format("woff2");
}

@font-face {
    font-family: "Chromatic";
    font-weight: 400;
    src: url("https://storage.googleapis.com/marketplace-app-assets/fonts/Chromatic/chromatic-condensed-regular-pro.woff2") format("woff2");
}

@font-face {
    font-family: "Matter";
    font-weight: 700;
    src: url("https://storage.googleapis.com/marketplace-app-assets/fonts/Matter/Matter-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Matter";
    font-weight: 500;
    src: url("https://storage.googleapis.com/marketplace-app-assets/fonts/Matter/Matter-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Matter";
    font-weight: 400;
    src: url("https://storage.googleapis.com/marketplace-app-assets/fonts/Matter/Matter-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Matter Mono";
    font-weight: 500;
    src: url("https://storage.googleapis.com/marketplace-app-assets/fonts/Matter/MatterMono-Medium.woff2") format("woff2");
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    font-family: system-ui,sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    touch-action: manipulation;
}

body {
    position: relative;
    min-height: 100%;
    font-feature-settings: 'kern';
}

*,*::before,*::after {
    border-width: 0;
    border-style: solid;
    box-sizing: border-box;
}

main {
    display: block;
}

hr {
    border-top-width: 1px;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre,code,kbd,samp {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
    color: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
}

abbr[title] {
    border-bottom: none;
    -webkit-text-decoration: underline;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

b,strong {
    font-weight: bold;
}

small {
    font-size: 80%;
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,input {
    overflow: visible;
}

button,select {
    text-transform: none;
}

button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none!important;
}

input[type="number"] {
    -moz-appearance: textfield;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none!important;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: -webkit-box;
    display: -webkit-list-item;
    display: -ms-list-itembox;
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none!important;
}

body,blockquote,dl,dd,h1,h2,h3,h4,h5,h6,hr,figure,p,pre {
    margin: 0;
}

button {
    background: transparent;
    padding: 0;
}

fieldset {
    margin: 0;
    padding: 0;
}

ol,ul {
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

button,[role="button"] {
    cursor: pointer;
}

button::-moz-focus-inner {
    border: 0!important;
}

table {
    border-collapse: collapse;
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit;
}

button,input,optgroup,select,textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}

img,svg,video,canvas,audio,iframe,embed,object {
    display: block;
}

img,video {
    max-width: 100%;
    height: auto;
}

[data-js-focus-visible] :focus:not([data-focus-visible-added]) {
    outline: none;
    box-shadow: none;
}

select::-ms-expand {
    display: none;
}

.css-srtztj {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

.css-1dhxv6h {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
}

.css-1llqle4 {
    display: none;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

@media screen and (min-width: 65.5rem) {
    .css-1llqle4 {
        display:-webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.css-pwckxr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background: var(--banyan-colors-gray-100);
    margin-left: 0px;
    width: 100%;
}

@media screen and (min-width: 65.5rem) {
    .css-pwckxr {
        margin-left:0px;
        width: 100%;
    }
}

.css-1smmmxx {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
    height: 100%;
    overflow: auto;
    min-width: 100%;
}

@media screen and (min-width: 48em) {
    .css-1smmmxx {
        -webkit-flex:min-content;
        -ms-flex: min-content;
        flex: min-content;
        height: calc(100vh - 80px);
        min-width: 480px;
    }
}

.css-og8lvl {
    width: 100%;
    -webkit-padding-start: var(--banyan-space-6);
    padding-inline-start:var(--banyan-space-6);-webkit-padding-end: var(--banyan-space-6);
    padding-inline-end:var(--banyan-space-6);}

@media screen and (min-width: 48em) {
    .css-og8lvl {
        -webkit-padding-start:var(--banyan-space-8);
        padding-inline-start:var(--banyan-space-8);-webkit-padding-end: var(--banyan-space-8);
        padding-inline-end:var(--banyan-space-8);}
}

.css-uqk96i {
    padding-bottom: var(--banyan-space-5);
}

.css-o2ke8n {
    font-family: var(--banyan-fonts-secondary);
    font-weight: 500;
    font-size: 16px;
    color: var(--banyan-colors-gray-900);
    line-height: 24px;
    padding-top: var(--banyan-space-2);
    padding-bottom: var(--banyan-space-2);
}

.css-6jfr73 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.css-6jfr73>*:not(style)~*:not(style) {
    margin-top: 0px;
    -webkit-margin-end: 0px;
    margin-inline-end:0px;margin-bottom: 0px;
    -webkit-margin-start: var(--banyan-space-2);
    margin-inline-start:var(--banyan-space-2);
}

    .css-a8iw49 {
        width: 50%;
        max-width: 50%;
    }

    @media screen and (min-width: 48em) {
        .css-a8iw49 {
            width:225px;
            max-width: 225px;
        }
    }

    .css-1vicip6 {
        position: relative;
    }

    .css-1vicip6 input {
        font-size: 16px;
        color: var(--banyan-colors-gray-800);
    }

    .css-1vicip6 button {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }

    .css-1kxonj9 {
        width: 100%;
        position: relative;
    }

    .css-4302v8 {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        position: relative;
    }

    .css-fyjt8s {
        width: 100%;
        min-width: 0px;
        outline: 2px solid transparent;
        outline-offset: 2px;
        position: relative;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        transition-property: var(--banyan-transition-property-common);
        transition-duration: var(--banyan-transition-duration-normal);
        font-family: var(--banyan-fonts-secondary);
        font-size: var(--banyan-fontSizes-lg);
        -webkit-padding-start: var(--banyan-space-4);
        padding-inline-start:var(--banyan-space-4);-webkit-padding-end: var(--banyan-space-14);
        padding-inline-end:var(--banyan-space-14);height: var(--banyan-sizes-14);
        border-radius: 8px;
        border: 1px solid;
        border-color: #C0C9C9;
        background: var(--banyan-colors-white);
        border-top-left-radius: var(--banyan-radii-md);
        border-top-right-radius: var(--banyan-radii-md);
        background-color: var(--banyan-colors-gray-100);
        padding-top: var(--banyan-space-3);
        padding-bottom: var(--banyan-space-3);
        color: var(--banyan-colors-gray-700);
    }

    .css-fyjt8s:hover,.css-fyjt8s[data-hover] {
        border-color: #C0C9C9;
        border: 1px solid;
    }

    .css-fyjt8s[aria-readonly=true],.css-fyjt8s[readonly],.css-fyjt8s[data-readonly] {
        box-shadow: none!important;
        -webkit-user-select: all;
        -moz-user-select: all;
        -ms-user-select: all;
        user-select: all;
    }

    .css-fyjt8s[disabled],.css-fyjt8s[aria-disabled=true],.css-fyjt8s[data-disabled] {
        opacity: 1;
        cursor: not-allowed;
        color: #303B36;
        background-color: #EFF2F1;
        border-color: #6D7E7B;
    }

    .css-fyjt8s[aria-invalid=true],.css-fyjt8s[data-invalid] {
        border-color: #FA635D;
        box-shadow: var(--banyan-shadows-none);
    }

    .css-fyjt8s[aria-invalid=true]:hover,.css-fyjt8s[data-invalid]:hover,.css-fyjt8s[aria-invalid=true][data-hover],.css-fyjt8s[data-invalid][data-hover] {
        border-color: #FA635D;
        box-shadow: 0 0 0 2px #FADCDB;
    }

    .css-fyjt8s:focus,.css-fyjt8s[data-focus] {
        z-index: 1;
        border-color: #C0C9C9;
        box-shadow: 0 0 0 2px #EFF2F1;
        border: 1px solid;
    }

    .css-fyjt8s::-webkit-input-placeholder {
        color: var(--banyan-colors-black);
    }

    .css-fyjt8s::-moz-placeholder {
        color: var(--banyan-colors-black);
    }

    .css-fyjt8s:-ms-input-placeholder {
        color: var(--banyan-colors-black);
    }

    .css-fyjt8s::placeholder {
        color: var(--banyan-colors-black);
    }

    .css-1s1vewb {
        right: 0;
        width: var(--banyan-sizes-14);
        height: var(--banyan-sizes-14);
        font-size: var(--banyan-fontSizes-lg);
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        position: absolute;
        top: 0px;
        z-index: 2;
    }

    .css-1qj1hk8 {
        width: 1em;
        height: 1em;
        display: inline-block;
        line-height: 1em;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        color: currentColor;
        -webkit-transition: 150ms -webkit-transform ease-in-out;
        transition: 150ms transform ease-in-out;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .css-1pmxynf {
        position: relative;
        width: 100%;
        z-index: 99;
    }

    .css-s8s88y {
        width: 100%;
        min-width: 0px;
        outline: 2px solid transparent;
        outline-offset: 2px;
        position: relative;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        transition-property: var(--banyan-transition-property-common);
        transition-duration: var(--banyan-transition-duration-normal);
        font-family: var(--banyan-fonts-secondary);
        font-size: var(--banyan-fontSizes-lg);
        -webkit-padding-start: var(--banyan-space-4);
        padding-inline-start:var(--banyan-space-4);-webkit-padding-end: var(--banyan-space-14);
        padding-inline-end:var(--banyan-space-14);height: var(--banyan-sizes-14);
        border-radius: 8px;
        border: 1px solid;
        border-color: var(--banyan-colors-black);
        background: var(--banyan-colors-white);
        border-top-left-radius: var(--banyan-radii-md);
        border-top-right-radius: var(--banyan-radii-md);
        background-color: var(--banyan-colors-gray-100);
        padding-top: var(--banyan-space-3);
        padding-bottom: var(--banyan-space-3);
        color: var(--banyan-colors-gray-700);
    }

    .css-s8s88y:hover,.css-s8s88y[data-hover] {
        border-color: #C0C9C9;
        border: 1px solid;
    }

    .css-s8s88y[aria-readonly=true],.css-s8s88y[readonly],.css-s8s88y[data-readonly] {
        box-shadow: none!important;
        -webkit-user-select: all;
        -moz-user-select: all;
        -ms-user-select: all;
        user-select: all;
    }

    .css-s8s88y[disabled],.css-s8s88y[aria-disabled=true],.css-s8s88y[data-disabled] {
        opacity: 1;
        cursor: not-allowed;
        color: #303B36;
        background-color: #EFF2F1;
        border-color: #6D7E7B;
    }

    .css-s8s88y[aria-invalid=true],.css-s8s88y[data-invalid] {
        border-color: #FA635D;
        box-shadow: var(--banyan-shadows-none);
    }

    .css-s8s88y[aria-invalid=true]:hover,.css-s8s88y[data-invalid]:hover,.css-s8s88y[aria-invalid=true][data-hover],.css-s8s88y[data-invalid][data-hover] {
        border-color: #FA635D;
        box-shadow: 0 0 0 2px #FADCDB;
    }

    .css-s8s88y:focus,.css-s8s88y[data-focus] {
        z-index: 1;
        border-color: #C0C9C9;
        box-shadow: 0 0 0 2px #EFF2F1;
        border: 1px solid;
    }

    .css-s8s88y::-webkit-input-placeholder {
        color: var(--banyan-colors-black);
    }

    .css-s8s88y::-moz-placeholder {
        color: var(--banyan-colors-black);
    }

    .css-s8s88y:-ms-input-placeholder {
        color: var(--banyan-colors-black);
    }

    .css-s8s88y::placeholder {
        color: var(--banyan-colors-black);
    }

    .css-iwkjvg {
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        width: 100%;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        overflow: auto;
    }

    .css-u7nvs1 {
        opacity: 0.7;
        border-radius: var(--banyan-radii-md);
        border-color: #EFF2F1;
        background: #E0E7E7;
        -webkit-animation: 0.8s linear infinite alternate animation-1gpxpf4;
        animation: 0.8s linear infinite alternate animation-1gpxpf4;
        box-shadow: var(--banyan-shadows-none);
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        cursor: default;
        color: var(--banyan-colors-transparent);
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-top: var(--banyan-space-4);
        margin-bottom: var(--banyan-space-4);
    }

    .css-u7nvs1::before,.css-u7nvs1::after,.css-u7nvs1 * {
        visibility: hidden;
    }

    @-webkit-keyframes animation-1gpxpf4 {
        from {
            border-color: #EFF2F1;
            background: #EFF2F1;
        }

        to {
            border-color: #E0E7E7;
            background: #E0E7E7;
        }
    }

    @keyframes animation-1gpxpf4 {
        from {
            border-color: #EFF2F1;
            background: #EFF2F1;
        }

        to {
            border-color: #E0E7E7;
            background: #E0E7E7;
        }
    }

    .css-1vu3ud2 {
        border-radius: var(--banyan-radii-md);
        background-color: var(--banyan-colors-white);
        box-shadow: var(--banyan-shadows-md);
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0px;
        overflow: hidden;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        cursor: pointer;
        width: 100%;
        margin-bottom: 0px;
    }

    .css-1vu3ud2:hover,.css-1vu3ud2[data-hover] {
        opacity: 0.8;
    }

    @media screen and (min-width: 48em) {
        .css-1vu3ud2 {
            margin-bottom:var(--banyan-space-4);
        }
    }

    .css-knybk {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        position: relative;
        min-height: 446px;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    @media screen and (min-width: 48em) {
        .css-knybk {
            min-height:300px;
        }
    }

    .css-bdeq5i {
        object-fit: cover;
        opacity: 0;
        -webkit-transition: opacity 150ms linear;
        transition: opacity 150ms linear;
    }

    .css-qwl8h7 {
        padding: var(--banyan-space-6);
        position: relative;
        z-index: 1;
        margin-top: auto;
        background-color: rgba(0,0,0,0.5);
        -webkit-backdrop-filter: blur(35px);
        backdrop-filter: blur(35px);
    }

    .css-wh3fb4 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }

    @media screen and (min-width: 48em) {
        .css-wh3fb4 {
            -webkit-flex-direction:row;
            -ms-flex-direction: row;
            flex-direction: row;
            text-align: left;
        }
    }

    .css-1tsbzs {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-right: 0px;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        min-width: 225px;
    }

    @media screen and (min-width: 48em) {
        .css-1tsbzs {
            padding-right:var(--banyan-space-4);
        }
    }

    .css-b74377 {
        color: var(--banyan-colors-white);
    }

    .css-cimxt8 {
        font-family: var(--banyan-fonts-secondary);
        font-weight: var(--banyan-fontWeights-medium);
        font-size: var(--banyan-fontSizes-body1);
        text-align: center;
        margin-bottom: var(--banyan-space-2);
    }

    @media screen and (min-width: 48em) {
        .css-cimxt8 {
            text-align:left;
        }
    }

    .css-1j0nf7q {
        font-family: Chromatic,sans-serif!important;
        font-weight: var(--banyan-fontWeights-medium);
        font-size: 24px;
        color: var(--banyan-colors-white);
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        line-height: 32px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        margin-bottom: var(--banyan-space-2);
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }

    @media screen and (min-width: 48em) {
        .css-1j0nf7q {
            font-size:32px;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            -webkit-justify-content: flex-start;
            justify-content: flex-start;
        }
    }

    .css-1m942b8 {
        font-family: var(--banyan-fonts-secondary);
        font-weight: var(--banyan-fontWeights-medium);
        font-size: var(--banyan-fontSizes-body1);
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        margin-bottom: var(--banyan-space-2);
    }

    @media screen and (min-width: 48em) {
        .css-1m942b8 {
            -webkit-box-pack:start;
            -ms-flex-pack: start;
            -webkit-justify-content: flex-start;
            justify-content: flex-start;
        }
    }

    .css-mblvt0 {
        width: 1em;
        height: 1em;
        display: inline-block;
        line-height: 1em;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        color: currentColor;
        margin-right: var(--banyan-space-2);
    }

    .css-zwhd7k {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
        margin-top: auto;
    }

    .css-mwecow {
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        position: relative;
        white-space: nowrap;
        vertical-align: middle;
        outline: 2px solid transparent;
        outline-offset: 2px;
        width: auto;
        line-height: 1.2;
        border-radius: var(--banyan-radii-full);
        font-weight: 500;
        transition-property: var(--banyan-transition-property-common);
        transition-duration: var(--banyan-transition-duration-normal);
        font-family: Matter Mono;
        text-transform: uppercase;
        letter-spacing: .8px;
        height: var(--banyan-sizes-14);
        min-width: var(--banyan-sizes-36);
        font-size: 16px!important;
        -webkit-padding-start: var(--banyan-space-2);
        padding-inline-start:var(--banyan-space-2);-webkit-padding-end: var(--banyan-space-2);
        padding-inline-end:var(--banyan-space-2);border: 2px solid;
        border-color: var(--banyan-colors-gray-500);
        color: var(--banyan-colors-gray-100);
        background: var(--banyan-colors-white);
        background-image: inherit;
        -webkit-background-clip: inherit;
        background-clip: inherit;
        box-shadow: 0 1.6px 3.6px rgba(0, 0, 0, 0.1);
        background-color: var(--banyan-colors-transparent);
        margin-left: auto;
    }

    .css-mwecow:focus,.css-mwecow[data-focus] {
        box-shadow: 0 0 0 4px rgba(192, 201, 201, 0.2);
    }

    .css-mwecow[disabled],.css-mwecow[aria-disabled=true],.css-mwecow[data-disabled] {
        opacity: 0.4;
        cursor: not-allowed;
        box-shadow: var(--banyan-shadows-none);
    }

    .css-mwecow:hover,.css-mwecow[data-hover] {
        background: var(--banyan-colors-white);
        color: var(--banyan-colors-gray-700);
        box-shadow: var(--banyan-shadows-none);
    }

    .css-mwecow:hover[disabled],.css-mwecow[data-hover][disabled],.css-mwecow:hover[aria-disabled=true],.css-mwecow[data-hover][aria-disabled=true],.css-mwecow:hover[data-disabled],.css-mwecow[data-hover][data-disabled] {
        background: initial;
    }

    .css-mwecow:active,.css-mwecow[data-active] {
        box-shadow: var(--banyan-shadows-inner);
        background: default.100;
    }

    .css-1copac7 {
        display: none;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex: 50%;
        -ms-flex: 50%;
        flex: 50%;
        height: calc(100vh - 80px);
        overflow: hidden;
        -webkit-transition: opacity 350ms linear;
        transition: opacity 350ms linear;
        opacity: 0;
    }

    @media screen and (min-width: 48em) {
        .css-1copac7 {
            display:-webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }
    }

.css-x5gdjb {
	border-radius: var(--banyan-radii-md);
	background-color: var(--banyan-colors-white);
	box-shadow: var(--banyan-shadows-md);
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 0px;
	overflow: hidden;
	transition: all 0.5s ease 0s;
	cursor: pointer;
	width: 100%;
	margin-bottom: var(--banyan-space-4);
}